header {
  /* padding: 1px 0; */
  background-color: var(--yellow);
  border-bottom: solid #222 2px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header img {
  max-height: 60px;
}

header .op {
  font-size: 1.1rem;
  margin: 0 1.25em;
  -webkit-transition: all 0.5s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
  transition: all 0.5s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
  cursor: pointer;
  position: relative;
}

header .options button.btn-cta {
  margin-left: 1.25em;
  font-size: 0.9rem;
  border-radius: 10px;
}

header .op:before,
header .op:after {
  content: "";
  z-index: 2;
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.35s cubic-bezier(0.17, 0.53, 0.51, 0.96) 0s;
  background-color: var(--cta-blue);
}
header .op:before {
  left: 50%;
}
header .op:after {
  right: 50%;
}
.header-wrap:hover .op:before,
.header-wrap:hover .op:after {
  width: 50%;
}

@media (max-width: 766px) {
  .op {
    display: none;
  }
}
